<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS LINKS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <!-- FontAwesome icons script -->
    <script src="https://kit.fontawesome.com/4108392101.js" crossorigin="anonymous"></script>

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">
    <title>Contacto</title>
</head>
<body>
    <header id="headerIndex">
    </header>
    <h1>
        <a id="emprendiendo" href="../index.html">Emprendiendo</a>
    </h1>
    <nav id="navHeader">
        <ul id="ulHeader">
            <li>
                <a class="navHeader__a" id="headerIndex" href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerServices" href="services.html">Servicios</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerAboutus" href="aboutus.html">Sobre Nosotros</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerPricing" href="pricing.html">Precios</a>
            </li>
            <li>
                <a class="navHeader__a" id="active" href="contactus.html">Contacto</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerSIE" href="sie.html">SIE</a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="contactus">
            <div class="contactus_container">
                <form action="">
                    <label for="fname">Nombre</label>
                    <input type="text" id="fname" name="firstname" placeholder="Pepito">
                    <label for="lname">Apellido</label>
                    <input type="text" id="lname" name="lastname" placeholder="Perez">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="email" name="Correo electrónico" placeholder="pepitoperez@gmail.com">    
                    <label for="WhatsApp">Whatsapp</label>
                    <input type="number" id="wp" name="whatsapp" placeholder="3011234567">

                    <label class="container">Acepto las políticas de tratamientos de datos
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div class="contactus_data">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51641080936!2d-74.2478945452754!3d4.648283717196404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1640556367029!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p>Bogotá COL</p>
                <p>601 1234567</p>
                <p>Carrera oeste 75 quito sur</p>
            </div>
        </section>
    </main>

    <footer>
        <nav class= "footer__nav">
            <ul id= "footerUl">
                <li>
                    <a class="footer__nav__a" id="youtube" href="https://youtube.com" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="facebook" href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="instagram" href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>