<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS LINKS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <!-- FontAwesome icons script -->
    <script src="https://kit.fontawesome.com/4108392101.js" crossorigin="anonymous"></script>

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">
    <title>Precios</title>
</head>
<body>
    <header id="headerIndex">
    </header>
    <h1>
        <a id="emprendiendo" href="../index.html">Emprendiendo</a>
    </h1>
    <nav id="navHeader">
        <ul id="ulHeader">
            <li>
                <a class="navHeader__a" id="headerIndex" href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerServices" href="services.html">Servicios</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerAboutus" href="aboutus.html">Sobre Nosotros</a>
            </li>
            <li>
                <a class="navHeader__a" id="active" href="pricing.html">Precios</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerContactus" href="contactus.html">Contacto</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerSIE" href="sie.html">SIE</a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="prices">
            <div class="prices_container">
                <table id="prices__table">
                    <tr>
                        <th></th>
                        <th>Gratis</th>
                        <th>Básico</th>
                        <th>Profesional</th>
                        <th>Plan Partner</th>
                    </tr>
                    <tr>
                        <td> 
                            Gestión
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    multiplataforma
                                </li>
                                <li>
                                    pasarelas de pago
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Gratis +
                                </li>
                                <li>
                                    seguimiento de pedidos y entregas
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Básico +
                                </li>
                                <li>
                                    Dashboard e IA
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Profesional +
                                </li>
                                <li>
                                    Asesoría profesional
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            Contabilidad
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Registro de compras y ventas
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Gratis +
                                </li>
                                <li>
                                    Plantillas de libros contables
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Básico +
                                </li>
                                <li>
                                    App personalizable
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Profesional +
                                </li>
                                <li>
                                    Asesoría profesional
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            Financiamiento
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Presentación de EF
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Profesional +
                                </li>
                                <li>
                                    Campañas a2censo
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            Marketing
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Galería fotográfica
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    básico +
                                </li>
                                <li>
                                    Diseño de marca
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    Profesional +
                                </li>
                                <li>
                                    Posicionamiento y página web
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    $USD 100 / mes
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    $USD 350 / mes
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="prices__ul">
                                <li>
                                    ***
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <p>*** Nota</p>
            </div>
        </section>
    </main>

    <footer>
        <nav class= "footer__nav">
            <ul id= "footerUl">
                <li>
                    <a class="footer__nav__a" id="youtube" href="https://youtube.com" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="facebook" href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="instagram" href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>