<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS LINKS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <!-- FontAwesome icons script -->
    <script src="https://kit.fontawesome.com/4108392101.js" crossorigin="anonymous"></script>

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">
    <title>Services</title>
</head>
<body>
    <header id="headerIndex">
    </header>
    <h1>
        <a id="emprendiendo" href="../index.html">Emprendiendo</a>
    </h1>
    <nav id="navHeader">
        <ul id="ulHeader">
            <li>
                <a class="navHeader__a" id="headerHome" href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="navHeader__a" id="active" href="./services.html">Servicios</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerAboutus" href="./aboutus.html">Sobre Nosotros</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerPricing" href="./pricing.html">Precios</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerContactus" href="./contactus.html">Contacto</a>
            </li>
            <li>
                <a class="navHeader__a" id="headerSIE" href="sie.html">SIE</a>
            </li>
        </ul>
    </nav>
    <main> 
        <section class="services">
            <div class="services__menu">
                <button type="button" class="services__menu__button" id="bttonActive">Gestión</button>
                <button type="button" class="services__menu__button">Contabilidad</button>
                <button type="button" class="services__menu__button">Financiamiento</button>
                <button type="button" class="services__menu__button">Marketing</button>
            </div>
            <div class="services__container">
                <div class="services__container__image" id="verBar">
                    <img src="../images/s1.svg" alt="verBar">
                </div>
                <div class="services__container__image" id="neolex1">
                    <img src="../images/neolex1.svg" alt="neolex1">
                </div>
                <div class="services__container__image" id="neolex2">
                    <img src="../images/neolex2.svg" alt="neolex2">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <nav class= "footer__nav">
            <ul id= "footerUl">
                <li>
                    <a class="footer__nav__a" id="youtube" href="https://youtube.com" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="facebook" href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__nav__a" id="instagram" href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>